h1,h4,h2{
    color: #ff22aa;
    border:2px double red;
    padding:10px;
    text-align: center;
}
p{
    color:aqua;
    padding: 40px;
    background-color: blanchedalmond;
}
body{
    background-color: aliceblue;
}